<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hap.salesorder.mapper.InvInventoryItemsMapper">
    <resultMap id="BaseResultMap" type="hap.salesorder.dto.InvInventoryItems">
        <result column="INVENTORY_ITEM_ID" property="inventoryItemId" jdbcType="DECIMAL"/>
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR"/>
        <result column="ITEM_UOM" property="itemUom" jdbcType="VARCHAR"/>
        <result column="ITEM_DESCRIPTION" property="itemDescription" jdbcType="VARCHAR"/>
        <result column="ORDER_FLAG" property="orderFlag" jdbcType="VARCHAR"/>
        <result column="START_ACTIVE_DATE" property="startActiveDate" jdbcType="DATE"/>
        <result column="END_ACTIVE_DATE" property="endActiveDate" jdbcType="DATE"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="myselect" resultMap="BaseResultMap" parameterType="hap.salesorder.dto.InvInventoryItems">
        select * from hap_inv_inventory_items
        <where>
            <if test=" inventoryItemId != null">
                INVENTORY_ITEM_ID = #{inventoryItemId}
            </if>
            <if test=" itemCode != null">
                OR ITEM_CODE = #{itemCode}
            </if>
            <if test=" itemUom != null">
                OR ITEM_UOM = #{itemUom}
            </if>
            <if test=" itemDescription != null">
                OR ITEM_DESCRIPTION = #{itemDescription}
            </if>
            <if test=" orderFlag != null">
                OR ORDER_FLAG = #{orderFlag}
            </if>
            <if test=" startActiveDate != null">
                OR START_ACTIVE_DATE = #{startActiveDate}
            </if>
            <if test=" endActiveDate != null">
                OR END_ACTIVE_DATE = #{endActiveDate}
            </if>
            <if test=" enabledFlag != null">
                OR ENABLED_FLAG = #{enabledFlag}
            </if>
        </where>
    </select>

</mapper>